{
  "bracketSpacing": false,
  "bracketSameLine": false,
  "arrowParens": "always",
  "quoteProps": "as-needed",
  "singleAttributePerLine": true,
  "vueIndentScriptAndStyle": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true
}
